*.txt filter=lfs diff=lfs merge=lfs -text
.txt filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
.bin filter=lfs diff=lfs merge=lfs -text
*.DESKTOP-Q7TENPV filter=lfs diff=lfs merge=lfs -text
.DESKTOP-Q7TENPV filter=lfs diff=lfs merge=lfs -text
